@import "../../../styles/_mixins";

.containerPresentationCard {
  width: 100%;
  height: 100vh;
  background-color: #fff;

  position: relative;

  top: 0;
  left: 0;

  overflow: hidden;
  z-index: 15;

  .wrapperActionsRouter {
    height: 6rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .js-link__returnLearn {
      @include resetDefaultInputStyles;
      cursor: pointer;

      svg {
        font-size: 3.5rem;
        color: #1cb0f6;
      }
    }

    .wrapperProgressBar {
      width: 75%;
      height: 2.5rem;

      border-radius: 25px;

      background-color: rgb(226, 226, 226);
      position: relative;
      .progressBar {
        position: absolute;
        left: 0;
        border-radius: 25px;

        height: 2.5rem;
        background-color: rgb(102, 204, 0);
        width: 0%;
      }
    }
  }

  .wrapperSubmitAnswer {
    button {
      @include resetDefaultInputStyles;
      // position: absolute;
      // left: 10%;
      // bottom: 10%;
      display: block;

      cursor: pointer;
      margin: 0 auto;
      padding: 1rem 1.5rem;

      font-size: 1.7rem;
      font-weight: 600;

      width: 80%;
      color: #fff;

      background-color: #6fce03;

      border-bottom: 0.4rem solid #58a700;
      border-radius: 15px;

      text-transform: uppercase;

      &:disabled {
        cursor: default;
        background-color: #e5e5e5;
        color: rgb(110, 110, 110);
        border-color: #dadada;
      }
    }

    .containerErrorMessage {
      width: 80%;
      margin: 0 auto;

      user-select: none;
    }
  }

  .activeWrapperSubmitAnswer {
    height: 14rem;
    background-color: red;
  }
}

.wrapperCardLessonTypeA {
  img {
    display: block;
    width: 80%;
    margin: 1rem auto 0.5rem auto;
  }
}

.containerMessageBox {
  img {
    width: 30%;
  }

  .bubbleMessageBox {
    width: 60%;
  }
}
